<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <app-navbar></app-navbar>


                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <table class="table thead">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NATION</th>
                            <th scope="col">ID YEAR</th>
                            <th scope="col">YEAR</th>
                            <th scope="col">POPULATION</th>
                            <th scope="col">SLUG NATION</th>
                            
                        </tr>
                        <tbody *ngFor="let i of usdata.data">
                            <tr>
                                <td>{{i["ID Nation"]}}</td>
                                <td>{{i.Nation}}</td>
                                <td>{{i["ID Year"]}}</td>
                                <td>{{i.Year}}</td>
                                <td>{{i.Population}}</td>
                                <td>{{i["Slug Nation"]}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
